# Игнорировать папку node_modules
node_modules/

# Дополнительные игнорируемые файлы (опционально)
.DS_Store       # Для macOS
.env            # Файлы окружения
dist/           # Скомпилированные файлы
*.log           # Лог-файлы